
#topmenu {

top:1em;
left:50em;

}


#topmenu a:link, #topmenu a:visited {
padding: 3px;
margin: 3px;
font: 14px/1.2em "Museo Sans",Verdana,Arial,Helvetica,sans-serif;
_color: rgb(89,74,55);
font-weight:bold;
}

#nav {
top: 3em;
left: 1em;
width: 12em;
}

#console-image {
font: 22px/2.0em "Museo Sans",Verdana,Arial,Helvetica,sans-serif;
color: rgb(254,100,196);
background-color: rgb(254,254,0);	
padding:5px;

  
}
