
pre {
    background: none repeat scroll 0 0 #F4F5F5;
    border: 2px solid #D5D0D2;
    color: #111111;
    font-size: 0.85em;
    line-height: 1.15;
    padding: 0.5em;
    margin-left:20px;
    margin-right:20px;

}