<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
	<head>
		<title>
			Sid !
		</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="google-site-verification" content="Ts83XvXsi10P5nYusLQvpf4HWt5byDv3X-vQAtPl8iA" />
		<link rel="stylesheet" type="text/css" href="/resources/css/layout.css" />
	</head>
	<body>
		<div id="topmenu">
			<a href="/">Readme</a> 
			<a href="/content/docs">Docs</a> 
			<a href="http://github.com/ianmorgan/sid">Code</a> 
			<a href="/content/about"">About</a>
		</div>
		<div id="content">
			<h1>
				
			</h1>
			<p>
				A micro-framework for setting up 
				admin style web apps.
			</p>
			<p>
				Written in Java and running on Jetty. Inspired 
				by <a href="http://www.sinatrarb.com">Sinatra</a>, <a href="http://rubyonrails.org">Ruby on Rails</a> 
				and <a href="http://www.playframework.org/">The Play framework</a>.
			</p>
			<p>
			    Designed using a clean, functional style to make it Java 8 ready and easy to use with Scala, Groovy and Clojure, 
			    or your exotic JVM language of choice.
			</p>
			<p>
			    God save the Queen. Do it your way.
			      <pre class="code"><code>
			      git clone git://github.com/ianmorgan/sid.git
			      cd sid
			      mvn install exec:java
			      </code></pre>
			</p>
		</div>
		<div id="nav">
			<!--<ul>
				<li>
					<a href="#">About us</a>
				</li>
				<li>
					<a href="#">About us</a>
				</li>
				<li>
					<a href="#">About us</a>
				</li>
				<li>
					<a href="#">About us</a>
				</li>
			</ul>-->
		
			<span id="open-console"><a  href="/demo">Open Console</a></span>
		</div>
	</body>
</html>
