
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head> <title>Recipe for Success</title> <meta http-equiv="content-type"
content="text/html; charset=utf-8" /> <link rel="stylesheet" type="text/css" href="/resources/css/layout.css" /> </head> 

<body> 
  <div id="content">
    <h1>Recipe for Success</h1> <p> ... </p>
  </div> 
  <div id="side1">
    <form method="post" action="" id="searchform"> <h3><label for="keys">Search the Recipes</label></h3> 
       <div>
         <input type="text" name="keys" id="keys" class="txt" /> <br /> <input type="submit" name="Submit" value="Submit" />
     </div> 
    </form>
    <ul> 
    
    <li><a href="#">About us</a></li>


    </ul> 
    </div>

<div id="side2"> <h3>Please Visit our Sponsors</h3> <div class="adbox"><p>Lorem ipsum dolor sit amet, ... </p></div> <div class="adbox"><p>Sed mattis, orci eu porta ... </p></div> <div class="adbox"><p>Quisque mauris nunc, mattis ... </p></div>
</div> </body> </html>